/*$mainBlue:#06FAB7;
$mainPurple:#bb0b3b; */


body{
	background:url("../../assets/images/open_opt_narrow.jpg") no-repeat black;
	background-size:100%;
/*	background-attachment: fixed;*/
	font-family:"Raleway", sans-serif;
  	font-weight:700;
 	color:white;
 	@mixin atSmall{
	background:url("../../assets/images/open_opt_wide.jpg") no-repeat black;
	background-size:100%;
	}
}

img{
	max-width:100%;
	height:auto;
}
*{
	box-sizing:border-box;
}

