.site-header{
	display:flex;
	justify-content: space-around;
}
	.site-header_logo{
		width:20rem;
		height:8rem;		
	}
	.site-header_links{
		/*text-decoration: none;*/
		list-style-type: none;
		margin:3rem 0.5rem;
		color: white;

	}
.link{
	color: #06FAB7;
	/*color:$mainPurple;*/
	font-size:1.25rem;
	text-decoration: none;
	border:2px solid #06FAB7;
	padding:10px;
	border-radius:10px;
	/*&:hover{
	color:#06FAB7;
	}*/
	/*&:active{
		color:#BB0B3B;
	}*/
}
