body{
	background:url("../../assets/images/open.jpg") no-repeat black;
	background-size:cover;
	font-family:"Raleway", sans-serif;
  	font-weight:700;
 	color:white;
}
img{
	max-width: 100%;
	height:auto;
}
html{
	box-sizing:border-box;
}

