.about{
	width:80%;
	
	&__bio{
		font-size:1.1rem;
		&__link{
			color:white;
			background:linear-gradient($mainBlue,$mainPurple);
			/*background:$mainPurple;*/
			font-size:1.3rem;
			/*margin-top:3rem;
			margin-bottom:2rem;*/
			margin:2rem 2rem 3rem;
			text-decoration: none;
			padding:1rem 1.5rem;
			border-radius:5px;
			display:inline-block;
			font-family:Lobster;
			font-weight:300;
			&:hover{
				background:#7f37e5;
				color:black;
				transform:scale(1.05);
			}
			@mixin atSmall{
				font-size:2rem;
				margin-top:0;
				margin-left:10%;
				margin-bottom:50px;
				padding:1rem 2.5rem;
				

			}
		}
		
		@mixin atSmall{
			margin:6rem auto 5rem;

		}
		@mixin atLarge{
			margin:10rem auto 5rem;
		
		}
		&__picture{
			max-width:250px;
			max-height:250px;
			/*filter:contrast(80%);*/


			@mixin atSmall{
				max-width:320px;
				max-height:320px;
			
			}
			@mixin atMedium{
				max-width:500px;
				max-height:500px;
			
			}
		

		}
		&__flex{
			display:flex;
			flex-wrap:wrap;
			/*text-align:center;*/
			@mixin atSmall{
				flex-wrap:nowrap;
			
			}
		
		}
		
	}
	&__skills{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width:100%;
		height:8rem;
		background:radial-gradient(#110f1c,black);
		background: black;
		margin-bottom:7rem;
		margin-top:3rem;
		

	}
	&__image{
		max-width:80px;
		max-height:80px;
		filter:contrast(80%);
		&:hover{
			filter:contrast(100%);
			transform:scale(1.1);
		}
		@mixin atSmall{
			max-width:130px;
			max-height:130px;
	
		}
	}
	&__font{
		/*color:$mainPurple;*/
		font-size:4rem;
		color:#3a0f7a;
		padding:5px 1rem;
		text-shadow: 0px 0px 2px aqua;
		&:hover{
			color:$mainPurple;
		}
		@mixin atSmall{
		font-size:6rem;
	
	}
		@mixin atMedium{
		font-size:8rem;
	
		}
		
	}
.subtitle{
	text-align: center;
	margin-top:7rem;
	animation:fade 1.5s ease-in-out;
	
	@mixin atMedium{
		margin-top:11rem;
		padding-bottom:5rem;
		
	}
	@mixin atLarge{
		margin-top:-3rem;
		padding-bottom:10rem;
		
	}

}


.large{
	font-size:1.8rem;
	font-weight:400;
	text-transform: capitalize;
	@mixin atSmall{
		font-size:2.5rem;
		
	}
	@mixin atMedium{
		font-size:3rem;
		
	}
	@mixin atLarge{
		font-size:3.8rem;

		
	}
	&--one{
		/*font-family:"Kaushan Script", sans-serif;*/
		font-family:"Lobster", sans-serif;
		color:$mainBlue;
	}
	&--two{
		font-family: 'Bowlby One SC', cursive;
		&--blue{
			color:$mainBlue;
		}

	}
	&--three{
		font-family: 'Anton', sans-serif;
		color:$mainPurple;
		&--small{
			font-size:2.5rem;
			
		}
	}
	&--bold{
		font-weight: 700;
		font-family:"Kaushan Script";

	}
	&--bolder{
		font-weight: 700;
		font-family:"Kaushan Script";
		
	}

}
}
.fade-in{
	animation: fade 1s ease-in;
}

@keyframes fade {
		0%{opacity:0;
			transform:translateY(3rem);
					}
		25%{opacity:0.3;}
		50%{opacity:0.5;}
		75%{opacity:0.8;}
		100%{opacity:1;
			transform:translateY(-0.1rem);
		}
	}