.contact{
	text-align:center;
	font-size:1rem;
	margin:10rem 1.8rem 5rem;
	font-weight:100;
	@mixin atMedium{
		font-size:1.3rem;
		}
	&__links{
		/*display:flex;*/
		/*flex-direction: column;*/
		margin:0 auto;

	}
	&__important{
		font-size:2rem;
		font-family: 'Bowlby One SC', cursive;
		font-weight:200;
	}
	&__button{
		font-size:1.2rem;
		text-decoration:none;
		color:#6e24d6;
	
	}
	&__icon{
		font-size:2rem;
		padding:2px;
		&:hover{
			color:$mainBlue;
		}
	}
}