footer{
	width:100%;
	height:6rem;
	background:#25094B;
	text-align: center;
	padding-top:1rem;

}
.footer__link{
	text-decoration: none;
	color:white;
	margin:0 2rem;
	&:hover{
		color:$mainBlue;
	}
	
}