.site-header{
	display:flex;
	justify-content: space-around;
	position: relative;
	
	
	/*width:100%;
	height:4rem;
	background:linear-gradient($mainPurple,#05040A);*/
	/*opacity:0.8;*/
	&_logo{
		position:fixed;
		width:13rem;
		height:4.5rem;
		margin-top:0.2rem;
		position:sticky;
		top:20px;
	@mixin atSmall{
		width:16rem;
		height:6rem;
		margin-top:1rem;
	}


	}
	&_links{
		/*text-decoration: none;*/
		list-style-type: none;
		margin:1.5rem 0.5rem;
		

	}
	&__mobile{
		display: none;
		transform:translateY(-100%);
	}
}
.show{
	display:inline;
	transform:translateY(55%);
	position:absolute;
	right:0.2rem;
	top:-1.2rem;
	width:40%;
	height:7.2rem;
	background:linear-gradient(#14022A,#2e2638);
	padding-top:3px;
	border-radius:10px;
	font-size:1.3rem;
	font-weight:30;
	text-align:center;
	transition:all 0.3s ease-in;
	animation: fadeMobile 0.2s ease-in-out;
	a {text-decoration: none;
	   color:#c0a7e5;
	   padding-top:12px;
	   padding-bottom:12px;
		background:linear-gradient(#14022A,#2e2638);
		border-radius:2px;
	   &:hover{
			color:$mainPurple;
	   	}
	}

	@mixin atMedium{
		display:none;
		}

}
@keyframes fadeMobile {
		0%{opacity:0;
			transform:translateX(200%)
			}
		25%{opacity:0.3;}
		50%{opacity:0.5;}
		75%{opacity:0.8;}
		100%{opacity:1;
			/*transform:translateY(-0.1rem)*/;
		}
	}

.link{
	display:none;
	&--mobile{
		display:block;
		@mixin atMedium{
		display:none;
		}
	}
	@mixin atMedium{
		display:block;
		color:white;
	/*color: $mainBlue;*/
	font-size:1.25rem;
	text-decoration: none;
	/*border:2px solid white;*/
	padding:10px;
	border-radius:10px;
	&:hover{
	color:#06FAB7;
	}
	&:active{
		color:#e53961;
	}
	}

}
